/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  background-color: #444; }

a {
  text-decoration: none; }

/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-header {
  height: 80px;
  width: 90%;
  margin: 0 auto;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  .cd-header:after {
    content: "";
    display: table;
    clear: both; }
  .cd-header.nav-is-visible {
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -o-transform: translateY(80px);
    transform: translateY(80px); }
  @media only screen and (min-width: 768px) {
    .cd-header.nav-is-visible {
      -webkit-transform: translateY(170px);
      -moz-transform: translateY(170px);
      -ms-transform: translateY(170px);
      -o-transform: translateY(170px);
      transform: translateY(170px); } }

.cd-logo {
  float: left;
  margin-top: 28px; }

.cd-3d-nav-trigger {
  position: relative;
  float: right;
  height: 45px;
  width: 45px;
  margin-top: 18px;
  /* replace text with background image */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent; }
  .cd-3d-nav-trigger span,
  .cd-3d-nav-trigger span::before,
  .cd-3d-nav-trigger span::after {
    /* hamburger icon in CSS */
    position: absolute;
    width: 28px;
    height: 3px;
    background-color: #FFF;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .cd-3d-nav-trigger span {
    /* this is the central line */
    top: 21px;
    left: 8px;
    -webkit-transition: background 0.2s 0.5s;
    -moz-transition: background 0.2s 0.5s;
    transition: background 0.2s 0.5s; }
    .cd-3d-nav-trigger span::before, .cd-3d-nav-trigger span:after {
      /* these are the upper and lower lines */
      content: '';
      left: 0;
      -webkit-transition: -webkit-transform 0.2s 0.5s;
      -moz-transition: -moz-transform 0.2s 0.5s;
      transition: transform 0.2s 0.5s; }
    .cd-3d-nav-trigger span::before {
      bottom: 8px; }
    .cd-3d-nav-trigger span::after {
      top: 8px; }
  .nav-is-visible .cd-3d-nav-trigger span {
    /* hide line in the center */
    background-color: rgba(255, 255, 255, 0); }
    .nav-is-visible .cd-3d-nav-trigger span::before, .nav-is-visible .cd-3d-nav-trigger span::after {
      /* keep visible other 2 lines */
      background-color: white; }
    .nav-is-visible .cd-3d-nav-trigger span::before {
      -webkit-transform: translateY(8px) rotate(-45deg);
      -moz-transform: translateY(8px) rotate(-45deg);
      -ms-transform: translateY(8px) rotate(-45deg);
      -o-transform: translateY(8px) rotate(-45deg);
      transform: translateY(8px) rotate(-45deg); }
    .nav-is-visible .cd-3d-nav-trigger span::after {
      -webkit-transform: translateY(-8px) rotate(45deg);
      -moz-transform: translateY(-8px) rotate(45deg);
      -ms-transform: translateY(-8px) rotate(45deg);
      -o-transform: translateY(-8px) rotate(45deg);
      transform: translateY(-8px) rotate(45deg); }

.cd-3d-nav-container {
  /* this is the 3D navigation container */
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background-color: #444;
  visibility: hidden;
  /* enable a 3D-space for children elements */
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.5s 0s, visibility 0s 0.5s;
  -moz-transition: -moz-transform 0.5s 0s, visibility 0s 0.5s;
  transition: transform 0.5s 0s, visibility 0s 0.5s; }
  .cd-3d-nav-container.nav-is-visible {
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.5s 0s, visibility 0.5s 0s;
    -moz-transition: -moz-transform 0.5s 0s, visibility 0.5s 0s;
    transition: transform 0.5s 0s, visibility 0.5s 0s; }
  @media only screen and (min-width: 768px) {
    .cd-3d-nav-container {
      height: 170px; } }

.cd-3d-nav {
  /* this is the 3D rotating navigation */
  position: relative;
  height: 100%;
  background-color: #fff;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s; }
  .cd-3d-nav::after {
    /* menu dark cover layer - to enhance perspective effect */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s 0s, visibility 0.5s 0s;
    -moz-transition: opacity 0.5s 0s, visibility 0.5s 0s;
    transition: opacity 0.5s 0s, visibility 0.5s 0s; }
  .cd-3d-nav li {
    height: 100%;
    width: 20%;
    float: left; }
    .cd-3d-nav li:first-of-type a::before {
      background-image: url(../img/icon-1.svg); }
    .cd-3d-nav li:nth-of-type(2) a::before {
      background-image: url(../img/icon-2.svg); }
    .cd-3d-nav li:nth-of-type(3) a::before {
      background-image: url(../img/icon-3.svg); }
    .cd-3d-nav li:nth-of-type(4) a::before {
      background-image: url(../img/icon-4.svg); }
    .cd-3d-nav li:nth-of-type(5) a::before {
      background-image: url(../img/icon-5.svg); }
  .cd-3d-nav a {
    position: relative;
    display: block;
    height: 100%;
    color: transparent;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s; }
    .cd-3d-nav a::before {
      /* navigation icons */
      content: '';
      height: 32px;
      width: 32px;
      position: absolute;
      left: 50%;
      top: 50%;
      bottom: auto;
      right: auto;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      background-size: 32px 64px;
      background-repeat: no-repeat;
      background-position: 0 0; }
    .no-touch .cd-3d-nav a:hover {
      background-color: #2482b8; }
  .cd-3d-nav .cd-selected a {
    background-color: #2482b8; }
    .no-touch .cd-3d-nav .cd-selected a:hover {
      background-color: #2482b8; }
    .cd-3d-nav .cd-selected a::before {
      background-position: 0 -32px; }
  .nav-is-visible .cd-3d-nav {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0); }
    .nav-is-visible .cd-3d-nav::after {
      /* menu cover layer - hide it when navigation is visible */
      opacity: 0;
      visibility: hidden;
      -webkit-transition: opacity 0.5s 0s, visibility 0s 0.5s;
      -moz-transition: opacity 0.5s 0s, visibility 0s 0.5s;
      transition: opacity 0.5s 0s, visibility 0s 0.5s; }
  @media only screen and (min-width: 768px) {
    .cd-3d-nav a {
      padding: 7.6em 1em 0;
      color: #ffffff;
      font-size: 1.3rem;
      font-weight: 600;
      text-align: center;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      /* truncate text with ellipsis if too long */
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      .cd-3d-nav a::before {
        top: 4.4em;
        left: 50%;
        right: auto;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%); } }

.cd-marker {
  /* line at the bottom of nav selected item */
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 20%;
  background-color: currentColor;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: translateZ(0) rotateX(90deg);
  -moz-transform: translateZ(0) rotateX(90deg);
  -ms-transform: translateZ(0) rotateX(90deg);
  -o-transform: translateZ(0) rotateX(90deg);
  transform: translateZ(0) rotateX(90deg);
  -webkit-transition: -webkit-transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s;
  -moz-transition: -moz-transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s;
  transition: transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s; }
  .cd-marker::before {
    /* triangle at the bottom of nav selected item */
    content: '';
    position: absolute;
    bottom: 3px;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-bottom-color: inherit; }
  .nav-is-visible .cd-marker {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0); }

/* these are the colors of the markers - line + arrow */
.color-1 {
  color: #fff; }

.color-2 {
  color: #fff; }

.color-3 {
  color: #fff; }

.color-4 {
  color: #fff; }

.color-5 {
  color: #fff; }

main {
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  main h1 {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 300;
    color: #ffffff;
    margin: 2em auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  main.nav-is-visible {
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -o-transform: translateY(80px);
    transform: translateY(80px); }
  @media only screen and (min-width: 768px) {
    main.nav-is-visible {
      -webkit-transform: translateY(170px);
      -moz-transform: translateY(170px);
      -ms-transform: translateY(170px);
      -o-transform: translateY(170px);
      transform: translateY(170px); }
    main h1 {
      font-size: 3.6rem;
      margin: 4em auto; } }
.scene {
  margin-top: 101px;
  position: absolute;
  top:150px;
  bottom: 0;
  left: 0;
  overflow: hidden;
  right: 0;
  height: 800px;
}

.scene > div {
  position: absolute;
  bottom: 0;
}

.ground {
  width: 100%;
  height: 30px;
  background: #1d1818;
 
}

.scene > div.weare {
  width: 895px;
left: 30%;
margin-left: -447px;
height: 255px;
bottom: 393px;
background: url("../img/we_are.png") no-repeat scroll center center transparent;
}

.scene div.digital {
  width: 908px;
height: 174px;
background: url("../img/inspired.png") no-repeat scroll center center transparent;
z-index: 100;
left: 50%;
bottom: 330px;
margin-left: -454px;
}

.scene div.grass {
  width: 964px;
  height: 37px;
  z-index: 200;
  left: 50%;
  bottom: 20px;
  margin-left: -482px;
  /*background: url(http://i.imgur.com/h0aXbZr.png) no-repeat center;*/
}

.buildings {
  width: 763px;
  height: 303px;
  left: 50%;
  margin-left: -400px;
  /*background: url(http://i.imgur.com/5LmAigM.png) no-repeat center;*/
}

.margin-top{
  margin-top: 850px;
}

html, button, input, select, textarea {
  color: #222;
}
body {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

/*::-moz-selection {
 background: #f2c2c9;
 color: #a4003a;
 text-shadow: none;
}
::selection {
  background: #16a085;
  color: #a4003a;
  text-shadow: none;
}*/
/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  margin: 3em 0;
  padding: 0;
  background-image: -webkit-linear-gradient(left, #fff, #ccc, #fff);
  background-image: -moz-linear-gradient(left, #fff, #ccc, #fff);
  background-image: -ms-linear-gradient(left, #fff, #ccc, #fff);
  background-image: -o-linear-gradient(left, #fff, #ccc, #fff);
  width: 50%;
  left: 25%;
  position: relative;
  border: none;
}

img {
  vertical-align: middle;
}
/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}
/* ==========================================================================
   General styles
   ========================================================================== */

html, body {
  height: 100%;
}

.col-md-4 {
  padding-bottom: 20px;
}
.row {
  margin-right: 0px;
  margin-left: -15px;
}
.modal-header {
  background: #ffbf00;
}
.modal-header h4 {
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}
.modal-footer {
  background: #2b2b2b;
}
.navbar-default {
  border-color: transparent;
  background-color: #dadada;
}
.navbar-inverse .navbar-brand {
  font-weight: 500;
  font-size: 20px;
}
.navbar-toggle {
  border-color: transparent;
  border: 0px solid transparent;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #16a085;
  color: white;
}

.odd a img {
  background: #f5f5f5;
}
/* Titles */
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
  font-weight: 200;
  color: #333;
}
h2 {
  font-size: 36px;
  color: #777;
}
h3 {
  font-size: 26px;
}
/* Paragraph & Typographic */
p {
  line-height: 28px;
  margin-bottom: 20px;
}
p.large {
  font-size: 20px;
  margin-bottom: 50px;
}
.centered {
  text-align: center;
}
strong {
  font-weight: 700;
}
em {
  font-weight: 300;
}
pre {
  background: #ebebeb;
  border: none;
  font-family: "Monaco";
  font-size: 16px;
  color: #666;
  padding: 20px;
  line-height: 28px;
}
small {
  font-size: 12px;
}
blockquote, blockquote p {
  line-height: 28px;
  color: #999;
  font-weight: 300;
  font-style: italic;
}
blockquote {
  position: relative;
  margin: 0 0 40px -30px;
  padding-left: 30px;
  border-left: 5px solid #3498db;
}
blockquote cite {
  position: absolute;
  bottom: -25px;
  right: 0;
  font-size: 12px;
  font-style: italic;
  color: #333;
  font-weight: 300;
}
blockquote cite:before {
  content: "-- "
}
/* Images */
.overflow-image {
  margin-top: -65px;
}
/* Links */
a {
  color: #4abcc5;
  word-wrap: break-word;
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}
a:hover, a:focus {
  text-decoration: none;
}
a:before, a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}
/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
  background: url(../img/header_bg.jpg) no-repeat center top;
  margin-top: -50px;
  padding-top: 120px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 650px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 100px;
}
#headerwrap h1 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 3px;
}
#headerwrap p {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
}
#headerwrap .icon {
  color: #ffffff;
  margin-top: 90px;
  padding-bottom: 30px;
  letter-spacing: 8px;
  font-size: 100px;
  font-weight: bold;
  text-shadow: 0px 20px 7px #3da8ae;
}
#headerwrap .btn {
  font-weight: 500;
  font-size: 20px;
  margin: 50px 0;
  background-color: #ffbf00;
  color: #fff;
  text-shadow: 0 0 4px #bf9004;
  box-shadow: -5px -5px 20px #3da8ae;
  border: 0;
}
#headerwrap .btn:hover, #headerwrap .btn:focus {
  background-color: #e9af03;
  outline: 0px;
}
#about {
  background: #fff;
  padding: 60px 0;
}
#about img {
  margin-top: 65px;
}
#services {
  background: #f5f5f5;
  padding: 60px 0;
  text-align: center;
}
#services .fa {
  color: #ffbf00;
}
#services p {
  text-align: center;
}
#team {
  background: #f5f5f5;
  padding: 60px 0;
}
#team H4 {
  padding-top: 10px;
}
#team p.large {
  margin-top: 60px;
  margin-bottom: 40px;
}
#team .fa {
  width: 30px;
  height: 30px;
  margin: 0 3px;
  border-radius: 100%;
  font-size: 15px;
  line-height: 30px;
  outline: 0;
  color: #fff;
  background-color: #c4c4c4;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
#team .fa:hover {
  background-color: #ffbf00;
}
#portfolio {
  background: #fff;
  padding: 60px 0;
}
#portfolio .btn-default {
  border: 0;
}
#contact {
  background: #fff;
  padding: 60px 0;
  text-align: center;
}
#contact .form {
  padding: 30px 0;
}
#contact .fa {
  color: #ffbf00;
  margin-bottom: 10px;
}
#contact .btn {
  font-weight: 500;
  font-size: 18px;
  margin-top: 50px;
  background-color: #ffbf00;
  color: #fff;
  border: 0;
}
#contact .btn:hover, #contact .btn:focus {
  background-color: #e9af03;
  outline: 0px;
}
#greywrap {
  background: #f5f5f5;
  margin-top: 0px;
  padding: 50px 0;
  border-bottom: 1px solid #eee;
  text-align: center;
}
#greywrap .btn {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 20px;
  margin: 0 25px;
  background-color: #fff;
  border-color: #e2e2e2;
  color: #888;
  border-bottom: 0;
  letter-spacing: 1px;
}
#greywrap .btn:hover, #greywrap .btn:focus {
  margin: 0 25px;
  background-color: #fff;
  border-color: #a5cdd5;
  border-bottom: 0;
  outline: 0px;
  color: #a5cdd5;
}
#greywrap h2 {
  font-size: 30px;
}
#greywrap .callout {
  margin-bottom: 20px;
}
#greywrap p {
  font-size: 30px;
}
#greywrap .fa {
  font-size: 18px;
  margin-right: 4px;
}
#footerwrap {
  background: #2b2b2b;
  padding: 25px 0 15px 0;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
#footerwrap span.copyright {
  line-height: 40px;
  color: #888;
  font-weight: 400;
}
#footerwrap span.copyright a {
  color: #888;
  border-bottom: 1px dotted;
}
#footerwrap span.copyright a:hover {
  color: #ffbf00;
  text-decoration: none;
}
#footerwrap h4 {
  color: white;
}
ul.social-buttons {
  margin: 0;
}
ul.social-buttons li a {
  font-size: 24px;
  outline: 0;
  color: #999;
}
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
  color: #ffbf00;
}
/* ==========================================================================
   Box Sections
   ========================================================================== */

.white h1 {
  color: #999;
}
.white p {
  padding-top: 25px;
}

/* ==========================================================================
   Image Mask
   ========================================================================== */

.grid figure {
  margin: 0;
  position: relative;
  border: 1px solid #eee;
}
.grid figure img {
  width: 100%;
  display: block;
  position: relative;
}
.grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  color: #fff;
  background-color: #ffbf00;
}
.grid figcaption h5 {
  margin: 0;
  padding-top: 0px;
  padding-left: 20px;
  padding-bottom: 5px;
  color: #fff;
  font-weight: 700;
  text-align: left;
  letter-spacing: 1px;
}
.grid figcaption a {
  text-align: left;
  padding: 5px 10px;
  margin-left: 20px;
  display: inline-block;
  background: #2f2f2f;
  color: #fff;
  font-size: 13px;
}
/* Caption Style */
.mask figure {
  overflow: hidden;
}
.mask figure img {
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
.no-touch .mask figure:hover img, .mask figure.cs-hover img {
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
}
.mask figcaption {
  height: 50px;
  width: 100%;
  top: auto;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
}
.no-touch .mask figure:hover figcaption, .mask figure.cs-hover figcaption {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s;
}
.mask figcaption a {
  position: absolute;
  top: 10px;
  bottom: 10px;
  right: 30px;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */


@media screen and (max-width:1050px), screen and (max-device-width:1050px) {
body .header {
  background-attachment: scroll;
}
}

/*ipad portrait*/
@media only screen and (min-device-width:768px) and (max-device-width : 1024px) and (orientation : portrait) {
.header {
  background-attachment: scroll;
}
}

@media screen and (max-width:769px) {
#headerwrap h1 {
  font-size: 80px;
}
#headerwrap p {
  font-size: 30px;
  line-height: 38px;
}
}
